.main-page {
  position: relative;
}

.main-left-block {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 600px;
  background-color: #f0f0f0;
  padding: 20px;
  top: 150px;
  /* Add any other desired styles */
 
}
.main-left-block {
  flex-shrink: 0; /* Prevent the left block from shrinking */
  width: 300px; /* Set a fixed width for the left block */
  background-color: #f0f0f0;
  padding: 20px;
  /* Add any other desired styles for the left block */
}

/* Media queries here */

@media (max-width: 768px) {
  .main-left-block {
    background-color: #ffffff;
    padding: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .main-left-block {
    background-color: #f8f8f8;
    padding: 15px;
  }
}

@media (min-width: 1025px) {
  .main-left-block {
    background-color: #f0f0f0;
    padding: 20px;
  }
}
